.video {
    height : 100vh;
    max-width : 1600px;
    /* display : grid ;
    grid-template-columns :  1fr 1fr;
    justify-items: center; */
    padding-top : 5rem;
    /* margin : 0 auto ; */
    background-color : black;
    padding : 0 40px;
    text-align : center;
}

.wrapper-clips {
    width : 100%;
    height : 100%;
    display : flex;
    justify-content: space-between;
}

.wrapper-artist {
    position : relative;
    width : 500px;
    height :300px;
    overflow : hidden;

    &:hover .title-aside{
        opacity : 1;
    }
}

.img-artist{
    width : 500px;
    height : 300px;
    object-fit: cover;
}

.block-text {
    position : absolute;
    top : 20%;
    left : 10%;
    color : #fff;
}

.play {
    display : flex;
    width : 100%;
    align-items : center;
    margin-bottom : 5rem;
}
.btn-play {
    width : 20px;
    height : 20px;
    padding  : 0.2rem;
    margin-right : 1rem;
    background : none;
    border : 1px solid #fff;
    border-radius : 50%;
}

.title-video {
    font-size : 0.7rem;
    font-weight : 400;
}

.genre{
    text-transform : uppercase;
    position : relative;
}

h2 {
    font-size : 2rem;
    text-transform: uppercase;;
    color : #fff;
    -webkit-text-stroke-width:1px;
    -webkit-text-stroke-color: #fff;
    color : rgba(255,255,255,0);
    margin-top : 40px;
}

.genre::before {
    content : '';
    position : absolute; 
    left : 50px;
    bottom : 11px;
    height : 3px;
    width : 200px;
    background : #fff;
    opacity : 0.6;
}

.genre::after {
    content : '';
    position : absolute;
    top : 0px;
    left :50px;
    opacity : 0.6;
    width : 20px;
    height : 20px;
    background : rgb(236, 116, 247);
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    transition : 0.8s ease;
}

.title-aside {
    position : absolute;
    right : 5%;
    font-size : 1.8rem;
    font-weight : 600;
    text-transform : uppercase;
    letter-spacing : 3px;
    top : 30%;
    color : #fff;
    writing-mode: vertical-lr;
    opacity : 0 ;
    transition :1s ease-in-out;

}
.title-aside:hover {
    opacity : 1;
}







.img-artist {
    width : 100%;
    transition : 0.8s ease;
    
}

.wrapper-artist:hover .genre:after{
    transform : translateX(200px);
}

.wrapper-artist:hover .img-artist {
    transform : scale(1.2);
}
