.video {
    height :100vh;
    width : 100%;
    background-color : black;
    padding : 0 40px;
    text-align : center;
    display : flex;
    flex-direction: column;
    align-items: center;
    background : red;

    @media (max-width : 900px ) {
        height : auto;
    }
    
}

.wrapper-clips {
    width : 100%;
    height : 100vh;
    display : flex;
    flex-wrap : wrap;
    justify-content: space-evenly;
    align-items: center;
  

    @media (max-width : 900px) {
        flex-direction : column;
        justify-content: center;
    }

    @media (max-width : 600px) {
        width : 360px;
        overflow : hidden;
    }
}

.wrapper-artist {
    position : relative;
    width : 350px;
    height :230px;
    overflow : hidden;
    margin : 20px 0;

    &:hover .title-aside{
        opacity : 1;
    }
}

.img-artist{
    width : 100%;
    height : 100%;
    object-fit: cover;
}

.block-text {
    position : absolute;
    top : 5%;
    left : 5%;
    color : #fff;
}

.play {
    display : flex;
    width : 100%;
    align-items : center;
    margin-bottom : 4rem;
}
.btn-play {
    width : 25px;
    height : 25px;
    padding  : 0.2rem;
    margin-right : 1rem;
    background : none;
    border : 1px solid #fff;
    border-radius : 50%;
}

.title-video {
    font-size : 0.8rem;
    font-weight : 400;
}

.genre{
    text-transform : uppercase;
    position : relative;
    font-size : 1.2rem;
   
    width : 280px;
}

h2 {
    font-size : 1.8rem;
    text-transform: uppercase;;
    color : #fff;
    -webkit-text-stroke-width:1px;
    -webkit-text-stroke-color: #fff;
    color : rgba(255,255,255,0);
    margin-top : 40px;
}

.genre::before {
    content : '';
    position : absolute; 
    left : 5%;
    bottom : 11px;
    height : 3px;
    width : 95%;
    background : #fff;
    opacity : 0.6;
}

.genre::after {
    content : '';
    position : absolute;
    top : 0px;
    left   :13px;
    opacity : 0.6;
    width : 20px;
    height : 20px;
    background : rgb(236, 116, 247);
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    transition : 0.8s ease;
   
}

.title-aside {
    position : absolute;
    right : 2%;
    font-size : 1.5rem;
    font-weight : 600;
    text-transform : uppercase;
    letter-spacing : 3px;
    top : 20%;
    
    color : #fff;
    writing-mode: vertical-lr;
    opacity : 0 ;
    transition :1s ease-in-out;

}
.title-aside:hover {
    opacity : 1;
}



.img-artist {
    width : 100%;
    transition : 0.8s ease;
    
}

.wrapper-artist:hover .genre:after{
    transform : translateX(250px);
}

.wrapper-artist:hover .img-artist {
    transform : scale(1.2);
}
