.songs {
    text-align : center;
    padding-top : 5rem;
}

.container-songs {
width : 100%;
height : 100%;
padding-top : 2rem;
    display : flex;
    text-align : center;
    justify-content: space-around;
   
   @media (max-width : 900px) {
       flex-direction : column;
       justify-content: center;
       align-items: center;
   }
  
}




.lecteur {
    position : relative;
    width: 300px;
    height : 400px;
    transform-style: preserve-3d;
   
  
    

    &:hover .face.front {
        transform: perspective(500px)    rotateY(180deg)
    }

    .face {
        position :absolute;
        top : 0;
        left : 0;
        width : 95%;
        height : 95%;
        transform-style: preserve-3d;
        display: flex;
        justify-content: center;
        align-items : center;
        backface-visibility: hidden;
        transition : 2s ease-in-out;
        transform: perspective(500px)    rotateY(0);
        background : #fff;
        
        
        &.front {
            background : #ff0;
            background : url('../images/cover.jpg');
            background-size : cover;
            background-repeat: no-repeat;
        }
        &.front2 {
            background : #ff0;
            background : url('../images/cover-tarantino.jpg');
            // background-size : cover;
            background-repeat: no-repeat;
        }
    }
   
}



 

.lecteur .face.back {
    background : black;
    // background : url('./skate.jpg');
    width : 100%;
    height : 100%;
    object-fit: contain;
    color : #fff;
    transform: perspective(500px) rotateY(180deg);
    align-items: flex-start;
}

.lecteur:hover .face.back {
    transform: perspective(500px)    rotateY(360deg)
}

.lecteur .face h2 {
   font-size : 2em;
   text-transform : uppercase;
   transform: perspective(500px) translateZ(50px);
  
}

.icone-Headphone {
    position : absolute;
    bottom : 20%;
    font-size : 2em;
    display: inline-block;
   text-transform : uppercase;
   transform: perspective(500px) translateZ(50px)
}